<div class="col-md-12 upper-gap"  ng-init="actrl.preLoad()" ng-controller="AdminViewCtrl as actrl">
    <table class="col-md-12 table table-striped upper-gap">
        <tr>
            <th> Name  </th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in $teams">
            <td>
                {{item.name}}
            </td>
            <td>
                <a href="#/modifyTeam">Modify</a> /
                <button ng-click="actrl.removeTeam(item.id)" type="button" class="btn btn-primary">Remove</button>
            </td>
        </tr>
    </table>
    <div>
        <a href="#/modifyTeam"> + Add team</a>
    </div>


    <table class="col-md-12 table table-striped upper-gap">
        <tr>
            <th> Name  </th>
            <th> Team  </th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in $users">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.team}}
            </td>
            <td>
                <a href="#/modifyTeam">Modify</a> /
                <button ng-click="actrl.removeUser(item.id)" type="button" class="btn btn-primary">Remove</button>
            </td>
        </tr>
    </table>
    <div>
        <a href="#/modifyUser"> + Add user</a>
    </div>
</div>