<div class=" upper-gap left-gap bottom-gap col-md-12" ng-controller="CreateTeamCtrl as ctrl">
    <form name="form" class="form-horizontal" novalidate>
        <legend>Image creation</legend>
        <input type="hidden" name="uuid" ng-model="ctrl.img.uuid">
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text"  id="name" class="form-control col-md-4" ng-model="ctrl.img.desc" placeholder="Description(optional)" required>
        </div>
        <div class="col-md-7">
            <a  class="btn btn-default" type="button"  href="#/adminview">cancel</a>
            <input class="btn bg-primary" ng-click="ctrl.send()" type="submit" value="Submit">
        </div>
    </form>
</div>