<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit transaction-type="JTA" name="default">
        <provider>org.hibernate.jpamodelgen.JPAMetaModelEntityProcessor</provider>

        <class>my.painboard.db.model.User</class>
        <class>my.painboard.db.model.Team</class>
        <class>my.painboard.db.model.ReportDay</class>
        <class>my.painboard.db.model.Img</class>
        <class>my.painboard.db.model.ReportedAction</class>
        <class>my.painboard.db.model.History</class>
        <class>my.painboard.db.model.Vacation</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>
</persistence>